[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

"backports.shutil-get-terminal-size" = "==1.0.0"
certifi = "==2017.11.5"
chardet = "==3.0.4"
configparser = "==3.5.0"
django = "==1.11.4"
"enum34" = "==1.1.6"
"flake8" = "==3.5.0"
